[package]
name = "mixlab"
version = "0.0.0"
authors = ["Charlie Somerville <charlie@charlie.bz>"]
edition = "2018"

[dependencies]
bincode = "1.2"
cpal = { git = "https://github.com/rustaudio/cpal", rev = "f3e7c462055004d0841cbb78d3f43585af3e8567" }
derive_more = "0.99"
env_logger = "0.7"
futures = "0.3"
httparse = "1.3"
lazy_static = "1.4"
lewton = "0.10"
mixlab-protocol = { path = "protocol" }
ogg = "0.7"
ringbuf = "0.2"
rustfft = "3.0"
tokio = { version = "0.2", features = ["macros"] }
warp = "0.2"
