* {
    margin:0;
    padding:0;
}

body {
    font-size:14px;
    font-family:Helvetica, Arial, sans-serif;
    background-color:#f0f0f5;
}

.workspace {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:0;
    user-select:none;
}

.workspace-connections {
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

.module-window {
    position:absolute;
    display:flex;
    flex-flow:column nowrap;
    border:1px solid #0b0b10;
}

.module-window-title {
    background-color:#8d8bb0;
    padding:8px;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    height:20px;
}

.module-window-title-label {
    color:#f0f0f5;
    font-size:14px;
    font-weight:bold;
    margin-right:auto;
    height:20px;
    line-height:20px;
}

.module-window-title-delete {
    font-size:14px;
    font-weight:bold;
    margin-left:16px;
    border:1px solid #c9c8d9;
    color:#c9c8d9;
    width:16px;
    height:16px;
    line-height:16px;
    text-align:center;
    cursor:pointer;
}

.module-window-title-delete:hover {
    color:#dcdce7;
    border-color:#dcdce7;
}

.module-window-content {
    background-color:#ffffff;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.module-window-inputs {
    display:flex;
    flex-flow:column nowrap;
    padding-top:8px;
    margin-left:-17px;
    width:34px;
    align-items:flex-start;
}

.module-window-outputs {
    display:flex;
    flex-flow:column nowrap;
    padding-top:8px;
    margin-right:-17px;
    width:34px;
    align-items:flex-end;
}

.module-window-terminal {
    margin:0px 8px 8px 8px;
    border:1px solid #0b0b10;
    background-color:#e0e0e0;
    width:16px;
    height:16px;
    cursor:pointer;
}

.module-window-terminal:hover {
    background-color:#f0f0f0;
}

.module-window-terminal.terminal-active {
    background-color:#ffffff;
}

.module-window-params {
    display:flex;
    flex-flow:column nowrap;
    padding:12px;
    gap:4px;
}

.context-menu {
    border:1px solid #0b0b10;
    position:absolute;
    display:flex;
    flex-flow:column nowrap;
    z-index:99999999999999999999999;
    background-color:#f0f0f5;
}

.context-menu-heading {
    font-size:14px;
    font-weight:bold;
    background-color:#8d8bb0;
    color:#c9c8d9;
    padding:8px;
}

.context-menu-item {
    padding:8px;
    cursor:pointer;
    color:#8d8bb0;
}

.context-menu-item:hover {
    background-color:#fafafc;
}

.mixer-channels {
    display:flex;
    flex-flow:row nowrap;
    gap:24px;
}

.mixer-channel {
    display:flex;
    flex-flow:column nowrap;
}

.drag-target-container {
    display:inline-flex;
}
