* {
    margin:0;
    padding:0;
}

body {
    font-size:14px;
    font-family:Helvetica, Arial, sans-serif;
    background-color:#f0f0f5;
}

.workspace {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:0;
    user-select:none;
}

.workspace-connections {
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

.module-window {
    position:absolute;
    display:flex;
    flex-flow:column nowrap;
    border:1px solid #0b0b10;
}

.module-window-title {
    background-color:#8d8bb0;
    padding:8px;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    height:20px;
}

.module-window-title-label {
    color:#f0f0f5;
    font-size:14px;
    font-weight:bold;
    margin-right:auto;
    height:20px;
    line-height:20px;
}

.module-window-title-button {
    font-size:14px;
    font-weight:bold;
    margin-left:8px;
    border:1px solid #c9c8d9;
    color:#c9c8d9;
    height:16px;
    line-height:16px;
    text-align:center;
    cursor:pointer;
}

.module-window-title-button:hover {
    color:#dcdce7;
    border-color:#dcdce7;
}

.module-window-title-midi-btn {
    font-size:12px;
    padding:0px 4px;
}

.module-window-title-midi-btn-active {
    font-size:12px;
    padding:0px 4px;
    background-color:#ffffff;
    border-color:#ffffff;
    color:#8d8bb0;
}

.module-window-title-midi-btn-active:hover {
    border-color:#ffffff;
    color:#8d8bb0;
}

.module-window-title-delete {
    width:16px;
}

.module-window-content {
    background-color:#ffffff;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.module-window-inputs {
    display:flex;
    flex-flow:column nowrap;
    padding-top:8px;
    margin-left:-17px;
    width:34px;
    align-items:flex-start;
}

.module-window-outputs {
    display:flex;
    flex-flow:column nowrap;
    padding-top:8px;
    margin-right:-17px;
    width:34px;
    align-items:flex-end;
}

.module-window-terminal {
    margin:0px 8px 8px 8px;
    border:1px solid #0b0b10;
    background-color:#e0e0e0;
    width:16px;
    height:16px;
    cursor:pointer;
    position: relative;
}

.module-window-terminal .terminal-label {
    position: absolute;
    font-variant: small-caps;
    font-size: 11px;
    background-color: #f0f0f5bb;
    padding: 1px 3px;
    /* display: none; */
}

.module-window-terminal:hover .terminal-label {
    display: initial;
}

.module-window-terminal-input .terminal-label {
    top: 2px;
    right: 17px;
}

.module-window-terminal-output .terminal-label {
    top: 2px;
    left: 17px;
}

.module-window-terminal:hover {
    background-color:#f0f0f0;
}

.module-window-terminal.terminal-active {
    background-color:#ffffff;
}

.module-window-params {
    display:flex;
    flex-flow:column nowrap;
    padding:12px;
}

.module-window-params > * {
    margin-bottom:4px;
}

.module-window-params > *:last-child {
    margin-bottom:0px;
}

.context-menu {
    border:1px solid #0b0b10;
    position:absolute;
    display:flex;
    flex-flow:column nowrap;
    z-index:99999999999999999999999;
    background-color:#f0f0f5;
}

.context-menu-heading {
    font-size:14px;
    font-weight:bold;
    background-color:#8d8bb0;
    color:#c9c8d9;
    padding:8px;
}

.context-menu-item {
    padding:8px;
    cursor:pointer;
    color:#8d8bb0;
}

.context-menu-item:hover {
    background-color:#fafafc;
}

.mixer-channels {
    display:flex;
    flex-flow:row nowrap;
}

.mixer-channels > * {
    margin-right:24px;
}

.mixer-channels > *:last-child {
    margin-right:0px;
}

.mixer-channel {
    display:flex;
    flex-flow:column nowrap;
}

.mixer-channel {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

.mixer-channel > * {
    margin-bottom:12px;
}

.mixer-channel > *:last-child {
    margin-bottom:0px;
}

.mixer-channel-cue-btn {
    border:1px solid #8d8bb0;
    color:#8d8bb0;
    width:38px;
    height:18px;
    line-height:18px;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
    cursor:pointer;
}

.mixer-channel-cue-on {
    background-color:#8d8bb0;
    color:#ffffff;
}

.drag-target-container {
    display:inline-flex;
}

.control-rotary-label {
    color:#8d8bb0;
    font-size:12px;
    text-align:center;
}

.output-device-status-bar {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
}

.output-device-status-bar > * {
    margin-right:12px;
}

.output-device-status-bar > *:last-child {
    margin-right:0px;
}

.output-device-status {
    border:1px solid #e0e0e0;
    color:#e0e0e0;
    width:64px;
    height:18px;
    line-height:18px;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
}

.output-device-status-red {
    border:1px solid #ff003a;
    color:#ff003a;
    font-weight:bold;
}

.output-device-status-red-active {
    border:1px solid #ff003a;
    color:#ffffff;
    background-color:#ff003a;
    font-weight:bold;
}

.midi-target {
    position:relative;
}

.midi-target-overlay {
    position:absolute;
    z-index:1;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity:50%;
    display:block;
}

.midi-target-cfg-overlay {
    cursor:pointer;
}

.midi-target-overlay-bound {
    background-color:#eeeeee;
    display:flex;
    justify-content:center;
    align-items:center;
}

.midi-target-overlay-label {
    background-color:#ffffff;
    padding:4px 8px;
}

.midi-target-cfg-overlay-unbound {
    background-color:#e0a5a3;
}

.midi-target-cfg-overlay-unbound:hover {
    background-color:#f0b5b3;
}

.midi-target-cfg-overlay-configure {
    box-sizing:border-box;
    background-color:#a3a5e0;
    border:4px solid #373aa2;
}

.midi-target-cfg-overlay-bound {
    background-color:#a3e0a5;
}

.midi-target-cfg-overlay-bound:hover {
    background-color:#b3f0b5;
}

.form-field {
    display:flex;
    flex-flow:column nowrap;
    margin-bottom:12px;
}

.form-field:last-child {
    margin-bottom:0px;
}

.form-field-label {
    margin-bottom:4px;
}

.monitor-container {
    position:relative;
    display:flex;
    background:#000000;
}

.monitor-overlay {
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    cursor:pointer;
}

.monitor-overlay-stopped {
    background:rgba(0, 0, 0, 0.5);
}

.monitor-overlay-stopped:hover {
    background:rgba(64, 64, 64, 0.5);
}

.monitor-overlay-playing {
    background:rgba(0, 0, 0, 0);
}

.monitor-overlay-playing:hover {
    display:block;
    background:rgba(64, 64, 64, 0.5);
}

.monitor-overlay-icon {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-32px;
    margin-top:-32px;
    width:64px;
    height:64px;
}

.monitor-overlay-playing .monitor-overlay-icon {
    display:none;
}

.monitor-overlay-playing:hover .monitor-overlay-icon {
    display:block;
}
